body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: #FAFEFF;
}

input {
  font-size: inherit;
}

.short-input {
  width: 2em;
}

.big {
  font-size: 3em;
}

.funny {
  font-weight: bold;
  font-style: italic;
  font-size: 1.2em;
}

.x-centered {
  margin-right: auto;
  margin-left: auto;
}

.x-fit {
  width: 20em;
}

.green { color: darkgreen; }
.yellow { color: #B59608; }
.red { color: darkred; }
